name: Publish Release
on:
  release:
    types: [created]

jobs:
  publish:
    name: Publish Maven Central Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure JDK
        uses: actions/setup-java@v3.6.0
        with:
          java-version: 11
          distribution: 'adopt'

      - name: Set Release Version Name
        run: sed -e s/-SNAPSHOT//g -i gradle.properties;

      - name: Publish Maven Central Release
        run: ./gradlew publish
        env:
          ORG_GRADLE_PROJECT_signingKeyId: ${{ secrets.SIGNING_KEY_ID }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}